*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
#search-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 32px;
}
#search-form input {
  padding: 8px 16px;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}
#search-form button {
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;

  padding-bottom: 24px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
  height: 100%;
}
.info {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  padding: 4px 20px;
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: center;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-item img {
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
}

/* loader */

.loader {
  box-sizing: border-box;
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #f03355) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 156px;
}
